<!DOCTYPE html>
<head><title>Popular Baby </title>
    <style>
        body {
            background-color: #f7bb3b;;
        }
        </style>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" media="screen" href="static/bootstrap.min.css">
        	 	<link rel="stylesheet" href="static/bootstrap-theme.min.css">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}"
<body>
<div >
<form  action="{{url_for('predict')}}"  method="post">
    <h2 style="color:blue;text-align:left;">The prediction of the data  </h2>
  
    <label for="fname">enter the year</label>
    <input type="text" type="integer" name='Year' id='first' required="required" placeholder="2010"><small></small><br><br>
    
    
    <label for="fname">enter the purchase value in lacs</label>
    <input style="color:blue;text-align:center;" type="integer" name='Selling_Price' id='second'  required="required" placeholder="purches cost= 7 lacs so enter 7 "><small></small><br><br>
    
    
    
      
    <label for="fname">car driven in Kilometers</label>
    <input  style="color:blue;" type="integer" name='Kms_Driven' id='third'   required="required" placeholder="10000"><small></small><br><br>
    


    <label for="fname">Number of owners</label>
    <select style="color:blue;text-align:center;" id="fourth" name="Owner" required="required">
                <option value=0>none</option>                
                <option value=1>Second hand</option>
                <option value=2>THird hand</option>
                <option value=3>and onwards</option>
            </select><br><br>
    
    
    <label for="fname">Fuel type</label>
    <select name="Fuel_Type_Petrol" id="fuel" required="required">
        <option value="Fuel_Type_Petrol">Fuel_Type_Petrol</option>  
        <option value="Petrol">Petrol</option>                
        <option value="Diesel">Diesel</option>
        <option value="cng">CNG</option>
    </select><br><br>

    
    <label for="fname">dealer or not</label>
    <select name="Seller_Type_Individual" id="resea" required="required">
        <option value=0>Dealer</option>
        <option value=1>Individual</option>
    </select><br><br>
    
    <label for="fname">transmission</label>
   <select name="Transmission_Mannual" id="research" required="required">
        <option value=1>Manual Car</option>
        <option value=0>Automatic Car</option>
    </select><br>
    <br><br><button id="sub" type="submit ">Calculate the Selling Price</button>
    <br>
        </form>
<br><br><h3>{{ prediction_text }}<h3>
</div>







</form>








</body>